.dataTables_length label {
    padding: 10px;
}

#table_filter label {
    padding: 10px;

}

.dataTables_info {
    margin-left: 5px;
}

#table_paginate {
    margin-right: 5px;
}

.profileimage{
    border-radius: 50% !important;
    width: 50%;
}
